<footer id="footer">
    <div id="rights">
        <p>
            &#169; CodeDev. All Rights Reserved
        </p>
    </div>

    <div>
        <nav id="footer-nav">
            <ul>
                <li id>
                    <a href="/" id="home-btn">Home <i class="fas fa-home"></i></a>
                </li>
                
            </ul>
        </nav>
    </div>
</footer>