
<link rel="stylesheet" href="/css/user_sign_up.css">
<div id="sign-up-page">
<form action="/user/create" method="POST">
      <h2>Sign Up on CodeDev</h2>
      <!-- google sign up -->
      <p id="google-sign-up">
            <a href="/user/auth/google"><img src="/images/google.png" height="30" width="30"><span>Sign Up with Google</span></a>
      </p>

   <!-- form content -->
   <input name="name" type="text" placeholder="Your Name" required>
   <input name="email" type="email" placeholder="Your Email-id" required>
   <input name="password" type="password" placeholder="Password" required>
   <input name="confirm_password" type="password" placeholder="Confirm Password" required>
   <input type="submit" value="Sign Up">

      <p id="already-account">
      <span>Already have an account?</span> 
      <a href="/user/sign-in">Log In</a>
      <p>
</form>
</div>
