<div>

    <p>Hi <%= comment.user.name%>!</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on codemon.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>